.container {
    position:relative;
    text-align: center;
    color:white;
}
.nazev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:10em;
}
.obal {
    display: flex;
    flex-direction: column;
    width: 19em;
}
.knihovna {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tradicni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
details {
    max-width: 30%;
}
.netradicni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.vanocni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.col--1 {
    width: 19em;
    margin: 3px;
}
body {
    margin: 0 auto
}
.box {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 175, 182);
}
li, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
    font-family: 'EB Garamond', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=EB+Garamond&family=Parisienne&display=swap');
.container {
    font-family: 'Parisienne', cursive;
}