.container {
    position:relative;
    text-align: center;
    color:white;
}
.nazev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:10em;
}
.nejoblibenejsiRecepty {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}
.tradicni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.netradicni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.vanocni {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.col--1 {
    max-width: 30%;
}
body {
    margin: 0 auto
}
.box {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 175, 182);
}
li, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}